<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>example</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">

</head>
<body>

	<div class="container" id="main">
		<ul>
			<li v-for="question in questions">
				title: {{ question.title}}
				votos: {{question.votes}}
			</li>
		</ul>
		
		new group

		<form v-on:submit.prevent>
			<label for="">Nombre del grupo</label>
			<input type="text" v-model="name">
			<button class="btn" v-on:click="addGroup" v-if="name">Agregar</button>
		</form>
		
	</div>







	<script type="text/javascript" src="https://unpkg.com/vue@2.4.1"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>

	<script type="text/javascript">
		Vue.component('mycomponent',{
			template:  '<div>A custom component!</div>',
		});
		new Vue({
			el: "#main",
			created: function(){
				this.getQuestions();
			},
			data: {
				questions: [],
				name: "",
			},
			methods:{
				getQuestions: function(){
					var apiURl = "http://localhost:8000/api/questions";
					axios.get(apiURl).then(response => {
						this.questions = response.data;
					});
				},
				addGroup: function(){
					axios.post('http://localhost:8000/api/groups', {
						name: this.name,
					})
					.then(function (response) {
						console.log(response.data);
						this.name = "";
					})
					.catch(function (error) {
						console.log(error);
					});
				},
			}
		});
	</script>
</body>
</html>